/* You can add global styles to this file, and also import other style files */

button {
    padding:1.2em;
    width:100%;
    cursor:pointer;
    margin-bottom:15px;
    font-size:1.3em;
}


#fb {
    background:#3B5998 url('/assets/images/facebook.svg') no-repeat 14px 6px;
    background-size: 47px;
    color:#fff;
}

#google {
    border: 1px solid #95989A;
    background: #fff  url('/assets/images/google.svg') no-repeat 25px;
    background-size: 25px;
}

#email {
    background: rgb(245, 222, 200)  url('/assets/images/email.svg') no-repeat 25px;
    background-size: 25px;
}

