<h1>{{book.volumeInfo?.title}}</h1>
<div class="row">
  <div class="col-lg-8 col-md-6 col-sm-12 col-12">
    <p>
      {{book.volumeInfo?.description}}
    </p>
    <p>
      {{book.volumeInfo?.publisher}}

    </p>
    <p>
      {{book.volumeInfo?.publishedDate}}

    </p>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 col-12">
    <div class="row">
      <div class="col-12">
        <img [src]="book.volumeInfo?.imageLinks?.large" class="book-image">
      </div>
    </div>
    <br>
    <div class="row col-lg-8">
      <div class="col-6">
        <button class="btn btn-primary" (click)="addFavorite()">
          <i class="fa fa-heart"></i> Favorito</button>
      </div>
      <div class="col-6">
          <button class="btn btn-primary" (click)="onNavImageClick();">
            <i class="fa fa-list-ul"></i> Agregar a Colleccion</button>
            <div class="user-window panel"  [@popupAnimation]="popupState" [ngClass]="((popupState == 'closed') ? 'user-window-hidden': '')" (click)="onNavImageClick();">
              <div style="align-self: center;">
                 hola
              </div>
            </div>  
        </div>
        

    </div>
  </div>
</div>