<header class="col-12 top-header bgImage">
  <div class="row justify-content-between">
    <div class="col-3 left-header">
      <a class="toggle-sidebar" (click)="closeAside()">
        <i class="fa fa-bars"></i>
      </a>
      <h1>My Books App</h1>
    </div>

    <div class="col-4 right-header">
      <div class="row align-items-center top-form">
        <div class="col-6">
          <app-search-form (searchText)="searchText($event)"></app-search-form>
        </div>
        <div class="col-6">
          <a class="link-profile">
            <img *ngIf="user?.photoURL" [src]="user?.photoURL" (click)="onNavImageClick()">            
            <img *ngIf="!user?.photoURL" src="assets/img/default-user.png">    

                <div class="user-window panel"  [@popupAnimation]="popupState" [ngClass]="((popupState == 'closed') ? 'user-window-hidden': '')">
                          
                  <div id="user-window-top">
                    <img *ngIf="user?.photoURL" [src]="user?.photoURL" class="user-window-image">
                    <img *ngIf="!user?.photoURL" src="assets/img/default-user.png" class="user-window-image">
                      <div class="user-window-info">
                          <div id="user-window-name">{{user?.displayName}}</div>
                          <div id="user-window-joined">joined {{user?.metadata.creationTime}}</div>
                    </div>
                  </div>  
                   <div id="user-window-bottom" panel-body>
                      <a id="books-count">{{booksCount}}</a>
                      <a id="books-text">books</a>
                     <a id="favorites-count">{{count}}</a>
                     <a id="favorites-text">favorites</a>
                   </div>
                </div>       
          </a>
        </div>
      </div>

    </div>
  </div>
</header>