<header class="col-12 top-header bgImage">
  <div class="row justify-content-between">
    <div class="col-3 left-header">
      <a class="toggle-sidebar" (click)="closeAside()">
        <i class="fa fa-bars"></i>
      </a>
      <h1>My Books App</h1>
    </div>

    <div class="col-4 right-header">
      <div class="row align-items-center top-form">
        <div class="col-6">
          <app-search-form (searchText)="searchText($event)"></app-search-form>
        </div>
        <div class="col-6">
          <a class="link-profile">
            <i class="fa fa-user-circle"></i>
          </a>
          <!--div class="user-image">
            <img [src]="user?.photoURL">
          </div-->
        </div>
      </div>

    </div>
  </div>
</header>