<br/>


    <span>Crear Colección</span>

  <form #collectionForm="ngForm">

      <table cellspacing="0">
        <tr>
          <td>
     
              <h4>Nombre</h4>
              <input type="name"  [(ngModel)]="collection.name" name="name" #name="ngModel" required  style="background-color: lightgray">
              <div [hidden]="name.valid || name.pristine" role="alert">
                
              </div>
  
          </td>
        </tr>
        <tr>
          <td>
    
              <h4>Descripción</h4>
              <input type="name"  [(ngModel)]="collection.description" name="description" #description="ngModel" required style="background-color: lightgray"> 
              <div [hidden]="description.valid || description.pristine" role="alert">
                
              </div>
   
          </td>
        </tr>
      </table>

      <button class="col-12 col-md-auto col-lg-auto btn btn-primary"  (click)="addCollection()" [disabled]="!collectionForm.form.valid">Crear</button>
      <button class="col-12 col-md-auto col-lg-auto btn btn-primary"  type="reset">Cancelar</button>

  </form>
