/* You can add global styles to this file, and also import other style files */

.form-container {
    background:rgb(255, 255, 255);
    padding:3.5em;
    width:500px;
    height: 100%;
    position:fixed;
    left:50%;
    margin-left:-250px;
}

#fondo{
    width: 2000px;
    height: 1000px;
    background-color: rgb(194, 194, 194);
}
h2 {
    margin: 1.7em 0 .9em 0;
    color: black;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
}

.error {
    background:#f5b5a1;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:#3B8598;
}
#goback span {
    font-size:1em;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
    body {
        padding-top:1.2em;
    }

    .form-container {
        padding:1.2em;
        width:90%;
        margin-left:-45%;
    }
    button {
        font-size:1em;
    }
}