<form (ngSubmit)="submit()" #newForm="ngForm">
    <div class="form-group has-feedback">
        <input type="name" class="form-control" placeholder="Name" [(ngModel)]="collection.name" required #name="ngModel" name="name">        
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger" role="alert" >
          Nombre Requerido
        </div>
        <br>
        <input type="description" class="form-control" placeholder="description" [(ngModel)]="collection.description" name="description">
    </div>
    <div class="col-xs-4">
        <button [disabled]="!newForm.form.valid" type="submit" class="btn btn-primary">Crear</button>
    </div>
</form>