#collection_addition{
    margin: 30px;
}

.collection-item{
    border: 1px solid;
}

.list-group-title{
    background-color: var(--main-style-color);
    padding: 20px;
    color: var(--main-title-color);
}

.mybtn{
    margin: 5px;
}