
.form-container {
    background:rgb(225, 238, 225);
    padding:3.5em;
    width:500px;
    position:fixed;
    left:50%;
    margin-left:-250px;
}



#lock {
    width:40%;
    margin: 1.5em auto 4em auto;
    display:block;
}

h2 {
    margin: 1.7em 0 .9em 0;
}

.alc {
    text-align:center;
    display:block;
    margin: 15px 0;
}

.error {
    background:#f1f0ef;
    padding:1em;
    width:100%;
    display:block;
    margin-bottom:20px;
}

#goback {
    font-weight:bold;
    text-transform:uppercase;
    font-size:.8em;
    color:#3B8598;
}
#goback span {
    font-size:1em;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
    body {
        padding-top:1.2em;
    }

    .form-container {
        padding:1.2em;
        width:90%;
        margin-left:-45%;
    }
    button {
        font-size:1em;
    }
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }   
}

